


    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="title-information">
          <h2>  Trust-in, partage de recommandations avec votre réseau</h2>
        </div>
      </div>
    </div>






      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="edit2-profile edit2" >
        <div class="card-form">
         <h2> A vous de nous dire, <%= current_user.first_name %></h2>

          <% if current_user %>
             <%= simple_form_for @profile do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">

                <p> <%= f.input :adress, label: "Quelle est votre adresse ?",autofocus: true, placeholder: "Boulogne", required: true%> </p>
                <%= f.hidden_field :street_number, label: "Num",autofocus: true, required: true, type:"hidden" %>
                <%= f.hidden_field :route, label: "Rue",autofocus: true%>
                <p>  <%= f.input :locality, label: "Ville",autofocus: true, required: true %></p>


                   <div class="school-astuce">
                     <p> <i class="far fa-lightbulb"></i> Votre adresse ne sera jamais visible, ni communiquée. Elle sera utilisée uniquement pour géolocaliser les prestataires les plus proches de chez vous.</p>
                   </div>



                <div class="separator">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                  </div>


                <p> <%= f.input :child_school1, label: "Ecole ou crèche enfant1",autofocus: true, placeholder: "Notre Dame de Boulogne" , required: false%></p>
                <p> <%= f.input :child_school2, label: "Ecole ou crèche enfant2",autofocus: true, placeholder: "SFA" , required: false, hint: '(si différente)'%> </p>
                <div class="school-astuce">
                   <p> <i class="far fa-lightbulb"></i> - astuce : si vous avez des enfants scolarisés, nous pourrons vous identifier d'autres parents de l'établissement </p>
                </div>

            </div>


          <div class="form-actions">
            <%= f.button :submit, "Valider", class:"btn-edit2"%>
          </div>

            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

