<!-- photo de la personne qui s'incrit, avatar par defaut si pas de chargement photo -->
<!-- gestion de la photo via facebook ou bien via le formulaire d'inscription -->
<% if @profile.user.facebook_picture_url%>
  <% avatar_url = @profile.user.facebook_picture_url %>
<% elsif @profile.user.photo.present? %>
  <% avatar_url = cl_image_path(@profile.user.photo, width: 100, height: 100, crop: :thumb, graviti: :face) %>
<% else %>
  <% avatar_url = "profile_icon.png" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="profil">
      <div class="photo-show">
       <%= image_tag avatar_url, class: "photo", crop: :thumb %>
      </div>

      <p class="name-show"><%= @profile.user.first_name%> <%= @profile.user.last_name%> </p>
      <% if @profile.date_of_birth %>
       <p class="name-show"><%= (Date.today.year)-(@profile.date_of_birth.year)%> ans
      </p>
      <% end %>
      <% if @profile.phone %>
        <div class="phone">
           <p class="name-show"><strong> Mobile :</strong> <%= @profile.phone%>  </p>
        </div>
        <% end %>
      <%if current_user == @profile.user %>
        <div class="circle-icon-profile">
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="services">
      <h2> Informations : </h2>
      <div class="profile-infos">
        <p> <strong> Lieu d'habitation :  </strong><%= @profile.town%> </p>
        <p> <strong> Etablissement(s) fréquentés :</strong> </p>
        <ul>
          <li> <%= @profile.school1%></li>
          <li> <%= @profile.school2%></li>
        </ul>
        <p> <strong>Formation : </strong>
          <ul>
            <li> <%= @profile.formation1%> </li>
            <li> <%= @profile.formation2%> </li>
          </ul>


        <% if current_user == @profile.user %>
          <div class="circle-icon-profile">
            <%= link_to edit_profile_path(@profile) do %>
              <i class="fa fa-pencil-alt" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @profile.description.present? %>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="services">

      <h2> Présentation : </h2>
      <div class="profile-infos">
        <p> <%= @profile.description%> </p>


        <% if current_user == @profile.user %>
          <div class="circle-icon-profile">
            <%= link_to edit_profile_path(@profile) do %>
              <i class="fa fa-pencil-alt" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if @prestations.present? %>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="services">
        <h2> Prestations proposées: </h2>
        <div class="fiche-prestation">
          <ul>
            <% @prestations.each do |prestation|%>
              <li class="item-list" style="list-style-type: none";>
                <div class="name">
                 <p><%= prestation.category.name%> </p>
                </div>
                <div class="price">
                 <p> <%= prestation.price%></p>
                </div>
                <% if current_user == @profile.user %>
                  <div class="circle-icon-edit">
                    <%= link_to edit_prestation_path(prestation) do %>
                      <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    <% end %>
                  </div>

                  <div class="circle-icon-delete">
                    <%= link_to '<i class="fas fa-trash-alt" aria-hidden="true"></i>
                    '.html_safe, prestation_path(prestation),
                    method: :delete,
                    data: { confirm: 'are you sure?'},class: "btn btn-gray"%>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <% if current_user == @profile.user %>
        <div class="plus">
          <div class="circle-icon-plus">
            <%= link_to new_prestation_path do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="services">
      <h2> Recommandations : </h2>
      <div class="img-reco">
        <% current_user.prestations.each do |prestation|%>
          <div class="img-recos-name">
            <% prestation.recomands.each do |reco|%>
            <ul>
              <li>  <p> <%= reco.user.first_name %> <%= reco.user.last_name %>, </p> </li>
            </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user == @profile.user %>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="services">
        <p>Vous souhaitez supprimer votre compte ? </p>
        <div class="icon-delete-blue">
          <p class="name"><%= link_to '<i class="fas fa-trash-alt" aria-hidden="true"></i>
          '.html_safe, registration_path(current_user),
          method: :delete,
          data: { confirm: 'are you sure?'},class: "btn btn-gray"%> </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
