


  <div class="search-form">
    <p> Filtrez votre recherche </p>

  <%= form_tag prestations_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "rechercher par service ou par personne"
    %>
   <% end %>
  </div>

  <div class="row">
    <div class="filtres">
    <h2> Explorez les services Trust-in</h2>
    <div class="filtres-categorie">

      <div class="cat btn">
        <%= image_tag "babysitting.jpg", class:"image-cat" %>

      </div>
      <div class="cat btn">
         <%= image_tag "bulles.jpg", class:"image-cat" %>
      </div>


      <div class="cat btn">
         <%= image_tag "books.jpg", class:"image-cat" %>
      </div>
      <div class="cat btn">
         <%= image_tag "coursmusique.jpg", class:"image-cat" %>
      </div>


        <div class="cat btn">
           <%= image_tag "petsitting.jpg", class:"image-cat" %>
        </div>

        <div class="cat btn">
           <%= image_tag "pied.jpg", class:"image-cat" %>
        </div>

    </div>
    </div>
  </div>

    <div class="row">
      <% if @recomanded_prestations.present?%>
      <div class="allprestations">
        <h3> Services recommandés par vous & votre réseau :</h3>
        <% @recomanded_prestations.each do |prestation| %>
        <div class="the-recommanded">

          <div class="col-xs-12 col-sm-4">
            <div class="one-card">
            <%= render 'shared/card-prestation', prestation: prestation %>
            </div>
          </div>

          <% end %>

        <% end %>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="allprestations">
          <h3> Services qui pourraient vous intéresser :</h3>
          <% @prestations.each do |prestation| %>

          <div class="the-non-recommanded">
            <div class="col-xs-12 col-sm-4">
              <div class="one-card">
              <%= render 'shared/card-prestation-norecommanded', prestation: prestation %>
              </div>
            </div>
           <% end %>
          </div>
        </div>
      </div>




