<% if current_user.profile.date_of_birth.present? && current_user.profile.town.present? && current_user.profile.adress.present? %>

<div class="row">
  <div class="filtres">
  <h2> Quels services souhaitez-vous proposer ?</h2>
  <div class="filtres-categorie">

    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
      <%= image_tag "babysittingTEXT3.jpg", class:"image-cat" %>

    </div>
    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
       <%= image_tag "courssoutienTEXT4.jpg", class:"image-cat" %>
    </div>


    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
       <%= image_tag "coursMUSIQUETEXT4.jpg", class:"image-cat" %>
    </div>
    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
       <%= image_tag "PETSITTINGTEXT4.jpg", class:"image-cat" %>
    </div>


      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
         <%= image_tag "travauxTEXT4.jpg", class:"image-cat" %>
      </div>

      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
         <%= image_tag "DIVERSTEXT4.jpg", class:"image-cat" %>
      </div>

  </div>
  </div>
</div>
        <div id="" class="container">
          <div class="content">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div id="" class="card-form">
                  <% if current_user %>
                    <%= simple_form_for @prestation do |f| %>
                  <div class="message-error">

                  </div>
                     <%= f.association :category, collection: Category.all.order('name ASC') %>
                      <%= f.input :price, placeholder: "8€/h" %>
                      <%= f.input :description, placeholder: "Décrivez votre expérience" %>
                      <%= f.submit "valider", class: "btn-new-prestation"%>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
<% else %>

<div class="content">
  <div class="row">

    <h2> Quels services souhaitez-vous proposer ?</h2>
    <div class="filtres-categorie">

      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
        <%= link_to edit_profile_path(current_user.profile) do %>
        <%= image_tag "babysittingTEXT3.jpg", class:"image-cat" %>
        <% end %>

      </div>
      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
        <%= link_to edit_profile_path(current_user.profile) do %>
         <%= image_tag "courssoutienTEXT4.jpg", class:"image-cat" %>
         <% end %>
      </div>


      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
        <%= link_to edit_profile_path(current_user.profile) do %>
         <%= image_tag "coursMUSIQUETEXT4.jpg", class:"image-cat" %>
         <% end %>
      </div>

      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
        <%= link_to edit_profile_path(current_user.profile) do %>
         <%= image_tag "PETSITTINGTEXT4.jpg", class:"image-cat" %>
         <% end %>
      </div>


        <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
          <%= link_to edit_profile_path(current_user.profile) do %>
           <%= image_tag "travauxTEXT4.jpg", class:"image-cat" %>
           <% end %>
        </div>

        <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
          <%= link_to edit_profile_path(current_user.profile) do %>
           <%= image_tag "DIVERSTEXT4.jpg", class:"image-cat" %>
           <% end %>
        </div>

  </div>
    <% end %>

    </div>


