
<script type="text/javascript">

  function show_hide_div(header){
  var lediv = document.getElementById('header');
  if(lediv.style.display=="block")
  lediv.style.display="none";
  else
  lediv.style.display="block";
  }


</script>



<div class="row">
  <div class="filtres">
  <h2> Quels services souhaitez-vous proposer ?</h2>
  <div class="filtres-categorie">

    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
      <%= image_tag "babysitting.jpg", class:"image-cat" %>

    </div>
    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
       <%= image_tag "bulles.jpg", class:"image-cat" %>
    </div>


    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
       <%= image_tag "books.jpg", class:"image-cat" %>
    </div>
    <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
       <%= image_tag "coursmusique.jpg", class:"image-cat" %>
    </div>


      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
         <%= image_tag "petsitting.jpg", class:"image-cat" %>
      </div>

      <div id="bouton" onclick="show_hide_div('header');" class="cat btn">
         <%= image_tag "pied.jpg", class:"image-cat" %>
      </div>

  </div>
  </div>
</div>


  <div id="hidden" class="container">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div id="header" class="card-form">
            <% if current_user %>
              <%= simple_form_for @prestation do |f| %>
               <%= f.association :category, collection: ['babysitting', 'cours de soutien', 'cours de musique', 'petsitting', 'accompagnement école', 'échange entre parents'] %>
                <%= f.input :price, placeholder: "8€/h" %>
                <%= f.input :description, placeholder: "Décrivez votre expérience" %>
                <%= f.submit "valider", class: "btn-new-prestation"%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



