<% if @prestation.user.facebook_picture_url %>
  <% avatar_url = @prestation.user.facebook_picture_url %>
<% elsif @prestation.user.photo.present? %>
  <% avatar_url = cl_image_path(@prestation.user.photo, crop: :thumb, graviti: :face) %>
<% else %>
  <% avatar_url = "profile_icon.png" %>
<% end %>
<!-- photos associees des personnes qui recommandent  -->

<!-- photos associees des prestations  -->
<% if @prestation.category.name=="Babysitting" %>
  <% image_tag category = "babysitting.jpg" %>
  <% elsif @prestation.category.name=="Soutien scolaire" %>
    <% image_tag category = "books.jpg" %>
    <% elsif @prestation.category.name=="Cours musique" %>
      <% image_tag category = "coursmusique.jpg" %>
      <% elsif @prestation.category.name=="Pet Sitting" %>
        <% image_tag category = "petsitting.jpg" %>
<% else %>
  <% image_tag category = "pied.jpg" %>
<% end %>


<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="profil">
        <div class="photo-show">
         <%= image_tag avatar_url, class: "photo", crop: :thumb %>
        </div>

        <p class="name-show"><%= @prestation.user.first_name%> <%= @prestation.user.last_name%> </p>
        <p class="name-show"><%= @prestation.user.profile.town%> </p>
        <% if @prestation.user.profile.date_of_birth %>
         <p class="name-show"><%= (Date.today.year)-(@prestation.user.profile.date_of_birth.year)%> ans
        </p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="services">
        <h2> Services Proposés : </h2>
        <div class="img-services">
         <%= image_tag category, class: "photoservice" %>
        </div>
        <div class="price-services">
        <p>  <%= @prestation.price %> </p>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="services">
        <h2> Recommandé par : </h2>
        <p> Recommandé par <%= pluralize(@prestation.recomands.count, 'utilisateur') %>  </p>
        <% @prestation.recomands.each do |recomandation|%>
        <div class="img-recos">
          <ul>
            <li>
              <% if recomandation.user.facebook_picture_url %>
                <%= image_tag recomandation.user.facebook_picture_url, class:"avatar_small_reco" %>
                <div class="img-recos-name">
                  <p> <%= recomandation.user.first_name %> <%= recomandation.user.last_name %>, </p>
                </div>
              <% elsif recomandation.user.photo.present? %>
                <%= image_tag cl_image_path(recomandation.user.photo, crop: :thumb, graviti: :face), class:"avatar_small_reco" %>
                <div class="img-recos-name">
                <p> <%= recomandation.user.first_name %> <%= recomandation.user.last_name %></p>
                </div>
              <% else %>
                <%= image_tag "profile_icon.png", class:"avatar_small" %>    <i class="fa fa-thumbs-up"> </i>
              <% end %>
            </li>
          </ul>
              <% end %>

        </div>
      <div class="recommandez-show">

            <p> Recommandez-ici à votre tour :<%= link_to recomandation_prestation_path(@prestation), method: :post,
               data: { confirm: "Votre recommandation est ajoutée !" } do %>
                <%=image_tag "like.png", class:'recomand-btn-lg' %>
                <% end %>
              </p>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="description-prestation">
        <h2> Présentation : </h2>
        <p> <%=  @prestation.description %> </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="description-prestation">
        <% unless @prestation.user.profile.description.nil? %>
        <p> <%=  @prestation.user.profile.description %> </p>
        <% end %>
      </div>
    </div>
  </div>


    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="description-prestation">
            <%= render 'reviews/form', prestation: @prestation, review: @review %>
      </div>
    </div>



    <div class="col-xs-12 col-md-6 col-md-offset-3">

        <% if policy(@prestation).destroy? %>
          <% if current_user == @prestation.user %>
            <%= link_to prestation_path(@prestation),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
              <p class="btn-delete">Supprimer</p>
          <% end %>
          <% end %>
        <% end %>
    </div>


</div>


</div>
