
<div>
<h2> Veuillez compléter vos informations, <%= current_user.first_name.to_s.humanize %> </h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="form-inputs">
      <%= f.input :first_name, autofocus: true%>
      <%= f.input :last_name, required: false %>
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :town, required: true, autofocus: true, placeholder: "Boulogne", required: false, hint: "indqiuez votre ville d'habitation" %>
      <%= f.input :school1, required: true, autofocus: true, placeholder: "SFA" , required: false, hint: "indiquez l'école où est scolarisé votre enfant"%>
      <%= f.input :school2, required: true, autofocus: true, placeholder: "Parchamps" , required: false, hint: "indiquez l'école où est scolarisé votre enfant"%>
      <%= f.input :club1, required: true, autofocus: true, placeholder: "TCBB" , required: false%>
      <%= f.input :club2, required: true, autofocus: true, placeholder: "conservatoire de musique", required: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Oublié votre mot de passe?", new_password_path(resource_name), class: "link-text" %><br />
</div>

<%= link_to "Back", :back %>
