
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="title-groups">
      <h3>Aggrandissez votre reseau pour vous simplifier votre quotidien </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="subtitle-groups">
        <div class="img-network">
          <%= image_tag 'share.png' %>
        </div>
        <div class="text-network">
          <p> Partagez vos recommandations sur vos prestataires de confiance  </p>
          <p> ... et bénéficiez à votre tour des recommandations de votre réseau </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fa fa-sign-in-alt" aria-hidden="true"></i>  DEMANDES :</h3>
      <p> Si vous acceptez : vous aurez accès à toutes leurs recommandations et elles auront accès à  vos recommandations </p>


       <% @pending_users.each do |user| %>
         <ul>
           <li>
             <%= user.first_name  %> <%= user.last_name  %>
             <%= link_to accept_join_group_path (current_user.groups.first) do%>
              <p> accepter</p>
                <% end %>


             </li>
         </ul>
       <% end %>
     </div>
  </div>

  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fa fa-sign-in-alt" aria-hidden="true"></i>  ACCEPTES :</h3>


       <% @accepted_users.each do |user| %>
         <ul>
           <li>
             <%= user.first_name  %> <%= user.last_name  %>
             </li>
         </ul>
       <% end %>
     </div>
  </div>

  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fa fa-user-plus" aria-hidden="true"></i>  INVITEZ d'autres personnes à partager vos bons plans  </h3>
      <p> <strong> </strong></p>
      <% @prospected_users.each do |user| %>

        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">

                   <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                   </div>
                  <div class="circle-icon-add">
                     <%= link_to want_join_group_path (current_user.groups.first) do %>
                    <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                    <% end %>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
  </div>



  <div class="row">
    <div class="groups-list">
    <h3>    <i class="fa fa-user-plus" aria-hidden="true"></i>  Invitez d'autres personnes à  partager vos bons plans  </h3>
      <p> <strong> </strong></p>
      <% @groups.each do |group| %>

       <% unless (group.founder == current_user) %>
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="one-group">
          <ul>
            <li>
              <div class="one-to-add">
                <div class="name-to-add">

                 <p>  <%= group.founder.first_name %> <%= group.founder.last_name.upcase %> </p>

                 </div>
                <div class="circle-icon-add">
                   <%= link_to want_join_group_path (group) do %>
                  <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                  <% end %>


                </div>

              </div>
          </li>

          </ul>
        </div>
      </div>

        <% end %>
        <% end %>


    </div>
  </div>
                 <p id="notice"><%= notice %></p>






  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class = "search-form-groups">
        <h3> <i class="fa fa-search-plus" aria-hidden="true"></i>  Rechercher une personne </h3>


      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "rechercher par nom de famille"
        %>
      <% end %>
      </div>

    </div>
  </div>
</div>
