
<div class="explication-groups">
  <div class="row">
    <div class="col-xs-12 ">
        <div class="title-groups">
          <h3>Partagez vos recommandations avec qui vous voulez </h3>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <div class="picto-group">
        <%= image_tag 'sharing.jpg' , width: 150, class:"picto-group" %>
       </div>
    </div>

    <div class="col-xs-6">
      <div class="text-group">
        <p> <strong> INVITEZ </strong> votre réseau à partager vos recommandations </p>
          <p> <strong>BENEFICIEZ</strong> à votre tour de leurs recommandations</p>

      </div>
    </div>
  </div>

</div>



<% if !@pending_users.empty? %>
  <div class="row">
    <div class="groups-list">
         <h3>  <i class="fas fa-users"></i> DEMANDES  <div class="btn navbar-notification">  <%= current_user.pending_users.size %> </div></h3>
          <div class="expli-partage">
            <p> Ces personnes ont demandé à partager leurs recommandations avec vous</p>
            <p> Si vous acceptez : vous aurez accès à toutes leurs recommandations et elles auront accès aux votres </p>
          </div>

      <% @pending_users.each do |user| %>



              <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="one-group">
                  <ul>
                    <li>
                      <div class="one-to-add">
                        <div class="name-to-confirm">

                          <%= link_to profile_path (user.profile) do%>
                            <p> <%= user.first_name  %> <%= user.last_name.upcase  %> </p>
                           <% end %>
                        </div>

                        <div class="confirm-join">
                         <%= link_to accept_join_group_path (current_user.groups.first) do%>
                           <p> confirmer</p>
                         <% end %>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                </div>

              <% end %>

    </div>
  </div>
  <% end %>


<% if !@prospected_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  SUGGESTIONS POUR VOUS </h3>

      <p> Partagez vos recommandations et bénéficiez en retour de leurs recommandations et bons plans</p>
      <% @prospected_users.each do |user| %>

      <% if user.profile.locality == current_user.profile.locality %>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">
                    <%= link_to profile_path (user.profile) do%>
                      <p> <%= user.first_name  %> <%= user.last_name.upcase  %>- Habite: <%= user.profile.locality  %> hh </p>

                     <% end %>
                   </div>
                  <div class="invite-join">
                     <%= link_to want_join_group_path (user.groups.first) do %>
                    <i class="fas fa-user-plus" aria-hidden="true">inviter</i>
                    <% end %>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      <% end %>

      <% if user.profile.locality != current_user.profile.locality %>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">
                    <%= link_to profile_path (user.profile) do%>
                      <p> <%= user.first_name  %> <%= user.last_name.upcase  %>- Habite: <%= user.profile.locality  %> hh </p>

                     <% end %>
                   </div>
                  <div class="invite-join">
                     <%= link_to want_join_group_path (user.groups.first) do %>
                    <i class="fas fa-user-plus" aria-hidden="true">inviter</i>
                    <% end %>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      <% end %>


      <% end %>
    </div>


  </div>
<% end %>

<% if !@pending_invited_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  EN ATTENTE </h3>
      <p> <strong> </strong></p>
      <p> Demandes de partage en attente de validation </p>
      <% @pending_invited_users.each do |user| %>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">

                   <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                   </div>

                </div>
              </li>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<% end %>

<% if !@accepted_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="far fa-address-book" aria-hidden="true"></i>  VOTRE RESEAU :</h3>


       <% @accepted_users.each do |user| %>
       <div class="col-xs-12 col-md-6 col-md-offset-3">
         <div class="one-group">
           <ul>
             <li>
               <div class="one-to-add">
                 <div class="name-to-add">

                  <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                  </div>
                 <div class="">
                    <%= link_to profile_path (user.profile) do %>
                   <i class="far fa-user-circle" aria-hidden="true"></i>
                   <% end %>
                 </div>

               </div>
             </li>
           </ul>
         </div>
       </div>
       <% end %>
     </div>
  </div>
<% end %>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class = "search-form-groups">
        <h3> <i class="fa fa-search-plus" aria-hidden="true"></i>  Rechercher une personne </h3>


      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "rechercher par nom de famille"
        %>
      <% end %>
      </div>

    </div>
  </div>
</div>
