
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="title-groups">
      <h3>Partagez vos recommandations sur vos prestataires de confiance  </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="subtitle-groups">
        <div class="img-network">
          <%= image_tag 'share.png' %>
        </div>
        <div class="text-network">
          <p> <strong> INVITEZ </strong> votre réseau à partager vos recommandations  </p>
          <p> ... et <strong>BENEFICIEZ</strong> à votre tour de leurs recommandations ! </p>
        </div>
      </div>
    </div>
  </div>

<% if !@pending_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-users"></i> ACCEPTEZ-VOUS de partager vos recommandations ? :</h3>
      <p> Si vous acceptez : vous aurez accès à toutes leurs recommandations et elles auront accès à  vos recommandations </p>


      <% @pending_users.each do |user| %>
      <ul>
       <li>
         <%= user.first_name  %> <%= user.last_name  %>
         <%= link_to accept_join_group_path (current_user.groups.first) do%>
           <p> accepter ?</p>
         <% end %>
       </li>
     </ul>
     <% end %>
   </div>
  </div>
<% end %>

<% if !@accepted_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="far fa-address-book" aria-hidden="true"></i>  Votre réseau :</h3>


       <% @accepted_users.each do |user| %>
         <ul>
           <li>
             <%= user.first_name  %> <%= user.last_name  %>
             </li>
         </ul>
       <% end %>
     </div>
  </div>
<% end %>

<% if !@prospected_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  INVITEZ à partager vos recommandations </h3>
      <p> <strong> </strong></p>
      <p> Pour pouvoir à votre tour bénéficier de leurs recommandations et bons plans </p>
      <% @prospected_users.each do |user| %>

        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">

                   <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                   </div>
                  <div class="">
                     <%= link_to want_join_group_path (user.groups.first) do %>
                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                    <% end %>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<% end %>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class = "search-form-groups">
        <h3> <i class="fa fa-search-plus" aria-hidden="true"></i>  Rechercher une personne </h3>


      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "rechercher par nom de famille"
        %>
      <% end %>
      </div>

    </div>
  </div>
</div>
