<div class="cards-container">

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="title-groups">
    <h3>Aggrandissez votre reseau pour vous simplifier votre quotidien </h3>
    </div>

    <div class="subtitle-groups">
      <div class="img-network">
        <%= image_tag 'share.png' %>
      </div>
      <div class="text-network">
        <p> Partagez vos recommandations sur vos prestataires de confiance (babysitting, petsitting, travaux etc) </p>
        <p> ... et bénéficiez à votre tour des recommandations de votre réseau) </p>
      </div>
    </div>
  </div>
</div>




  <div class="row">
    <div class="groups-list">
    <h3> Ajoutez dans votre carnet de contacts : </h3>
      <% @groups.each do |group| %>
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="one-group">
          <ul>
            <li>
              <div class="one-to-add">
                <div class="name-to-add">
                 <p>  <%= group.founder.first_name %> <%= group.founder.last_name.upcase %></p>
                 </div>

                <div class="circle-icon-add">
                   <%= link_to add_group_path (current_user) do %>
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
          </li>
          </ul>
        </div>
    </div>
    <% end %>
    </div>
</div>


  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class = "search-form-groups">
        <p> Rechercher une personne </p>

      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "rechercher par nom de famille"
        %>
      <% end %>
      </div>

      </div>
  </div>

</div>
