<% if prestation.user.facebook_picture_url %>
  <% avatar_url = prestation.user.facebook_picture_url %>
<% elsif prestation.user.photo.present? %>
  <% avatar_url = cl_image_path(prestation.user.photo, crop: :fill) %>
<% else %>
  <% avatar_url = "profile_icon.png" %>
<% end %>

<!-- si logo des prestations  -->
<% if prestation.category=="Babysitting" %>
  <% image_path category = "pied.jpg" %>
  <% elsif prestation.category=="sortie école" %>
    <% image_path category = "pied.jpg" %>
<% else %>
  <% image_path category = "pied.jpg" %>
<% end %>


<div class="card-prestations-index">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path category%>');">
    <div class="card-category">  <%= prestation.category%> </div>
    <div class="card-description">
    </div>
    <%= image_tag avatar_url, crop: :fill, class:'card-user' %>
    <%= link_to '', prestation_path(prestation), class:'card-link' %>
  </div>
  <div class = "card-footer">
    <div class="info-prestataire">
      <p> <%= prestation.user.first_name%></p>
      <p> 15 ans</p>
      <p> Boulogne Billancourt </p>
    </div>
    <div class="recos-prestataire">
      <p> Recommandé par</p>
    </div>
  </div>
  </div>


