
<div class="banner" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.3) 50%),
url(<%= image_path 'boulognehome.png' %>);">
  <div class="banner-content">

    <div class="text-banner">
      <h1> Découvrez et partagez des activités et services à proximité </h1>
      <p> L'appli pour profiter de son quotidien </p>

  </div>
      <%= link_to "Découvrir",events_path, :class => "btn btn-trust_large"  %>
  </div>

</div>

<div class="container">
  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12 ">
      <p> Découvrez une sélection d'activités originales et insolites près de chez vous </p>

     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

     <div class="col-xs-12 col-sm-4">
        <div class="card-homepage" style="background: url('<%= image_path 'yogaXS.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category"> </div>
            <div class="card-description">
              <h2> INITIATION </BR> AU GRAFFITI </h2>
            </div>
          <%= link_to '', events_path, class:'card-link' %>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4">
        <div class="card-homepage" style="background: url('<%= image_path 'yogaXS.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category"> </div>
            <div class="card-description">
              <h2> INITIATION </BR> AU GRAFFITI </h2>
            </div>
          <%= link_to '', events_path, class:'card-link' %>
        </div>
     </div>

     <div class="col-xs-12 col-sm-4">
        <div class="card-homepage" style="background: url('<%= image_path 'babysitting.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2> SERVICES RECOMMANDES </BR> PAR VOTRE RESEAU </h2>
            </div>
          <%= link_to '', events_path, class:'card-link' %>
        </div>
     </div>



  <div class="separator">
    <span> </span>
    <span> </span>
    <span> </span>
  </div>

 <div class="explication-concept">
   <div class="row">
    <div class="col-xs-12">
     <p> Des expériences conviviales juste à côté de chez vous </p>
    </div>
   </div>
 </div>

  <div class="exempleservices">
  <p> Envie de trouver une activité conviviale et qui change de l'ordinaire à faire en famille ? Découvrez les incroyables activités près de chez vous  </p>
  <p> Motivée par une sortie mais vous devez gérer l'intendance à la maison ? On a pensé à tout : retrouvez des babysitters recommandés par votre réseau et bien d'autres services du quotidien encore </p>

 <p> Trust-in @ Boulogne, illuminez votre quotidien grâce aux activités et services proches de chez vous </p>
  </div>
  <div class="separator">
    <span> </span>
    <span> </span>
    <span> </span>
  </div>


  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12">
      <p> Des activités et des services pour se faire plaisir  </p>
     </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'location.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Proximité</h3>
        </div>
        <div class="feature-body">
          <p> Des expériences avec les meilleurs experts locaux à découvrir juste à côté de chez vous </p>
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="feature-home">
      <div class="picto-home">
       <%= image_tag 'share.png' , height: 70, width: 70, crop: :fill %>
      </div>
      <div class="feature-header">
        <h3>Convivialité</h3>
      </div>
      <div class="feature-body">
        <p> Des expériences qui sortent de l'ordinaire à découvrir et partager dans la bonne humeur </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="feature-home">
       <div class="picto-home">
        <%= image_tag 'coeur_red.png' , height: 70, width: 70, crop: :fill %>
       </div>
       <div class="feature-header">
         <h3>Qualité</h3>
       </div>
       <div class="feature-body">
         <p> Des expériences testées et adoubées par nos testeurs locaux pour leur caractère qualitatif et insolite. </p>
       </div>

     </div>
  </div>


</div>

