
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.2) 60%),
url(<%= image_path 'bulles.jpg' %>);">
  <div class="banner-content">
    <h1> Trust-in </h1>
    <div class="text-banner">
      <p> Votre réseau pour simplifier votre quotidien de parents </p>

    </div>
      <%= link_to "Rejoindre",prestations_path, :class => "btn btn-trust_large"  %>

  </div>
</div>

<div class="container">
  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12 ">
      <p> Bénéficiez des recommandations de votre réseau pour trouver des bons plans  et services </p>
     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: url('<%= image_path 'babysitting.jpg' , height: 300, width: 400, crop: :fill %>');">
          <div class="card-category"> Vos trusters </div>
            <div class="card-description">
              <h2>Babysitting</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= image_path 'books.jpg' , height: 300, width: 400, crop: :fill %>');">
          <div class="card-category"> Vos trusters </div>
            <div class="card-description">
              <h2>Petits cours</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= image_path 'cooperative.jpg' , height: 300, width: 400, crop: :fill %>');">
          <div class="card-category"> Vos trusters </div>
            <div class="card-description">
              <h2>Echanges entre parents</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>

  </div>

  <div class="blue-text"> <p> <%= image_tag 'hero.png' , height: 40, width: 40, crop: :fill %>TRUSTER : personne de confiance recommandée par votre réseau </p></div>

  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="title-home"> Votre réseau d'entre-aide </h2>
     </div>
    </div>
  </div>


  <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'coeur_red.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Confiance</h3>
        </div>
        <div class="feature-body">
          <p> Vous pouvez choisir avec qui vous souhaitez partager vos recommandations</p>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'share.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Solidarité</h3>
        </div>
        <div class="feature-body">
          <p> Chaque parent recommande des personnes de confiance pour vous rendre service à votre tour</p>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'location.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Proximité</h3>
        </div>
        <div class="feature-body">
          <p> Un réseau à un niveau ultra-local, proche de chez vous</p>
        </div>
      </div>
  </div>

</div>
