
<div class="banner" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.3) 50%),
url(<%= image_path 'boulognehome.png' %>);">
  <div class="banner-content">

    <div class="text-banner">
      <h1> Trouvez des activités et services recommandés par votre réseau </h1>
      <p> Profitez de votre quotidien</p>
      <%if @first_visit %>
  </div>
      <%= link_to "Se connecter",identification_page_path, :class => "btn btn-trust_large"  %>
  </div>
  <%else %>
  </div>
      <%= link_to "Se connecter",prestations_path, :class => "btn btn-trust_large"  %>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12 ">
      <p> Bénéficiez de votre réseau de proximité pour découvrir des activités originales et services près de chez vous </p>
     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'yogaXS.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category"> </div>
            <div class="card-description">
              <h2> INCROYABLES ACTIVITES </h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>

     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'babysitting.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2> SERVICES </BR> BABYSITTING </h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>

     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'travaux.jpg' , width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2>SERVICES </BR> TRAVAUX</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>


     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'petsitting.jpg' , width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2> SERVICES </BR> PET SITTING</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>
  </div>

  <div class="separator">
    <span> </span>
    <span> </span>
    <span> </span>
  </div>

 <div class="explication-concept">
   <div class="row">
    <div class="col-xs-12">
     <p> Des expériences conviviales près de chez vous et des services du quotidien </p>
    </div>
   </div>
 </div>

  <div class="exempleservices">
  <p> Envie de trouver une activité conviviale et originale à faire en famille ? Découvrez les incroyables activités près de chez vous  </p>
  <p> Vous recherchez un babysitter de confiance à Boulogne ? Retrouvez les babysitters recommandés par votre réseau </p>
  <p> Envie de partir ce week-end ? Trouvez un Petsitter pour garder votre animal </p>

 <p> Trust-in @ Boulogne, retrouvez les activités et services proche de chez vous recommandés par votre réseau  </p>
  </div>
  <div class="separator">
    <span> </span>
    <span> </span>
    <span> </span>
  </div>


  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12">
      <p> Des activités et des services à partager </p>
     </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="feature-home">
      <div class="picto-home">
       <%= image_tag 'share.png' , height: 70, width: 70, crop: :fill %>
      </div>
      <div class="feature-header">
        <h3>Convivialité</h3>
      </div>
      <div class="feature-body">
        <p> Chaque membre peut découvrir et partager avec son réseau les activités et/ou  services préférés </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="feature-home">
       <div class="picto-home">
        <%= image_tag 'coeur_red.png' , height: 70, width: 70, crop: :fill %>
       </div>
       <div class="feature-header">
         <h3>Confiance</h3>
       </div>
       <div class="feature-body">
         <p> Vous pouvez choisir avec qui vous souhaitez partager vos recommandations</p>
       </div>

     </div>
  </div>
  <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'location.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Proximité</h3>
        </div>
        <div class="feature-body">
          <p> Un réseau à un niveau ultra-local, proche de chez vous</p>
        </div>
      </div>
  </div>

</div>

