
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.1) 60%),
url(<%= image_path 'bulles.jpg' %>);">
  <div class="banner-content">
    <h1> </h1>
    <div class="text-banner">
      <h2> Bénéficiez des recommandations de votre réseau </h2>
      <p> pour vous aider dans votre quotidien</p>
      <%if @first_visit %>
  </div>
      <%= link_to "Se connecter",identification_page_path, :class => "btn btn-trust_large"  %>
  </div>
  <%else %>
  </div>
      <%= link_to "Se connecter",prestations_path, :class => "btn btn-trust_large"  %>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12 ">
      <p> Bénéficiez des recommandations de votre réseau pour trouver des bons plans et services </p>
     </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'babysitting.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2>BABYSITTING</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>

     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'books.jpg', width: 80, height:80, crop: :fill %>');">
          <div class="card-category"> </div>
            <div class="card-description">
              <h2>SOUTIEN SCOLAIRE</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>
     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'travaux.jpg' , width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2>PETITS TRAVAUX</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>

     <div class="col-xs-12 col-sm-3">
        <div class="card-homepage" style="background: url('<%= image_path 'petsitting.jpg' , width: 80, height:80, crop: :fill %>');">
          <div class="card-category">  </div>
            <div class="card-description">
              <h2>PET SITTING</h2>
            </div>
          <%= link_to '', prestations_path, class:'card-link' %>
        </div>
     </div>

  </div>

  <div class="separator">
    <span> </span>
    <span> </span>
    <span> </span>
  </div>


  <div class="explication-concept">
    <div class="row">
     <div class="col-xs-12">
      <p> Un réseau d'entre-aide pour vous simplifier la vie </p>
     </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="feature-home">
      <div class="picto-home">
       <%= image_tag 'share.png' , height: 70, width: 70, crop: :fill %>
      </div>
      <div class="feature-header">
        <h3>Solidarité</h3>
      </div>
      <div class="feature-body">
        <p> Chaque parent recommande des personnes de confiance pour vous rendre service à votre tour</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="feature-home">
       <div class="picto-home">
        <%= image_tag 'coeur_red.png' , height: 70, width: 70, crop: :fill %>
       </div>
       <div class="feature-header">
         <h3>Confiance</h3>
       </div>
       <div class="feature-body">
         <p> Vous pouvez choisir avec qui vous souhaitez partager vos recommandations</p>
       </div>

     </div>
  </div>
  <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'location.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Proximité</h3>
        </div>
        <div class="feature-body">
          <p> Un réseau à un niveau ultra-local, proche de chez vous</p>
        </div>
      </div>
  </div>

</div>
