<% if current_user.facebook_picture_url %>
  <% avatar_url = current_user.facebook_picture_url %>
<% elsif current_user.photo.present? %>
  <% avatar_url = cl_image_path(current_user.photo, width: 35, height: 35, crop: :thumb, graviti: :face) %>
<% else %>
  <% avatar_url = "profile_icon.png" %>
<% end %>

<div class="row">
  <div class="col-xs-12 ">

  <%= simple_form_for @post do |form| %>
    <div class="form-group">
      <%= form.input :content, as: :text, label:"Poster votre message" %>
    </div>
     <%= form.submit "poster", class: "btn-new-prestation" %>
    <% end %>
  </div>
</div>

<div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 ">
        <div class="one-post">
          <div class="message">
            <div class="photo-show">
             <%= image_tag avatar_url, class: "photo", crop: :thumb %>
            </div>
            <div class="message-name">
             <%= post.user.first_name %>
            </div>
            </div>
          <div class="content">
          <%= post.content %>
          </div>
          <%= link_to "Reply", new_post_reply_path(post) %>

        </div>

      <% end %>
      </div>
</div>
