

<div class="back">
<%= link_to posts_path do %>
<i class="fa fa-arrow-circle-o-left"> back</i>
<% end %>
</div>



<div class="row">

      <div class="col-xs-12 ">
        <div class="one-post">
          <div class="message">
            <div class="photo-show">
              <% if @post.user.photo.present? %>
                <%= image_tag @post.user.photo, class: "photo", crop: :thumb %>
             <% elsif @post.user.facebook_picture_url.present? %>
                <%= image_tag @post.user.facebook_picture_url, class: "photo", crop: :thumb %>
             <% else %>
                 <%= image_tag "profile_icon.png", class: "photo", crop: :thumb %>
             <% end %>
            </div>
            <div class="message-name">
             <p> <%= @post.user.first_name %> </p>
             <p><%= @post.created_at.strftime("%d/%m/%Y")%> </p>
            </div>
            </div>
          <div class="content">
          <%= @post.content %>
          </div>

        </div>


      </div>


</div>


<div class="col-xs-12">
  <div class="description-prestation">
        <%= render 'replies/form', post: @post, reply: @reply %>
  </div>
</div>





