

    <h2> Commentaires : </h2>
    <p> <%= @prestation.reviews.count %> commentaires</p>
    <div class="review_single">
       <% @prestation.reviews.each do |review| %>
       <li>
        <p> "  <%= review.comment  %>"</p>
       <% end %>
      </li>
     </div>
    <%= simple_form_for([ prestation, review ]) do |form| %>
      <%= form.input :comment, as: :text, label:"Poster votre commentaire" %>
      <%= form.submit "poster", class: "btn-new-prestation" %>
    <% end %>




